---
layout: default
---
{%- assign stories = site.posts | where_exp: "p", "p.fiction == true" | where_exp: "p", "p.series_id == nil" -%}
{%- assign episodes = site.posts | where_exp: "p", "p.series_id" -%}
{%- assign articles = site.posts | where_exp: "p", "p.fiction != true" -%}

{% include feature-section.html title="Latest" posts=site.posts loading="eager" %}
{% include feature-section.html title="Life Stories" posts=stories link="/stories/" %}
{% include feature-section.html title=site.series_title posts=episodes link="/series/" %}
{% include feature-section.html title="Articles" posts=articles link="/articles/" %}

{%- if site.posts.size > 5 %}
<section class="section">
  <h2 class="section-title">Recent Posts</h2>
  <div class="row-list">
    {%- for p in site.posts offset: 5 limit: 10 %}
    {% include card-row.html post=p large=true %}
    {%- endfor %}
  </div>
</section>
{%- endif %}
